# Fichiers sensibles - NE JAMAIS committer les clés API
.env

# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/pubspec.lock

# Fichiers générés (retrofit / json_serializable)
*.g.dart
*.freezed.dart

# IDE
.idea/
*.iml
.vscode/

# Android
android/**/gradle-wrapper.jar
android/.gradle
android/captures/
android/local.properties
android/**/GeneratedPluginRegistrant.java
android/key.properties
**/android/**/*.keystore
**/android/**/*.jks

# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# macOS / misc
.DS_Store
